// variables.sass

$highlight-color: #b2d89a
$highlight-color-darker: #87A673

$highlight-color-transparent: rgba(178,216,154, 0.75)

$font-color: #868383
$font-color-secondary: white

$background-color-secondary: #E5DBDB

$font-size-default: 1em

$border-radius: 5px
